body{
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background: black;
    padding: 40px;
    border: 10px;
    margin-top: 15px;
}
header h4{
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}
section{
    background: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
}
main{
    background: whitesmoke;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
 main h3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
.skills, .projects{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: wheat;
    color: black;
}
footer{
    background:grey;
}
footer h3{
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
@media(max-width:400px){
    .skills,.projects,section{
        font-weight: 700;
    }
}



